
*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
background-color:  #fec5bb;
text-align: center;
}

.wrapper {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px; /* 5px rounded corners */
margin: auto;
width: 70%;
border: 3px solid azure;
padding: 10px;
background-color: #ffe5d9;
}

.wrapper img{
height: 300px;

}

.tablas{
margin-left: auto;
margin-right: auto;
}